name: Build

on:
  push:
    paths-ignore:
      - 'ext/**'
      - '**.md'
      - '**/docker-compose.yml'
  workflow_dispatch:

jobs:
  detect-changes:
    name: Generate job matrices
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      has-changes: ${{ steps.set-matrix.outputs.has-changes }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate matrix
        id: neo-library
        uses: tj-actions/changed-files@v47
        with:
          files_ignore: |
            ext/**
            **.md
            **/docker-compose.yml
          dir_names: true
          dir_names_max_depth: 2
          json: true
          escape_json: false

  build:
    needs: detect-changes
    runs-on: ubuntu-24.04
    strategy:
      matrix: ${{ fromJson(needs.detect-changes.outputs.matrix) }}
    if: ${{ fromJson(needs.detect-changes.outputs.matrix).include[0] }}
    steps:
        - name: Building library
          run: echo "Building ${{ matrix.build }}"
