name: Build

on:
  push:
    paths-ignore:
      - 'ext/**'
      - '**.md'
      - '**/docker-compose.yml'
  workflow_dispatch:

jobs:
  detect-changes:
    name: Detect changes
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.detect-changes.outputs.all_changed_files }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate matrix
        id: detect-changes
        uses: tj-actions/changed-files@v47
        with:
          files_ignore: |
            ext/**
            **.md
            **/docker-compose.yml
          dir_names: true
          dir_names_max_depth: 2
          matrix: true
          #json: true
          #escape_json: false

      - name: List all changed files
        run: echo '${{ steps.detect-changes.outputs.all_changed_files }}'

  build:
    name: Run Build
    runs-on: ubuntu-24.04
    needs: detect-changes
    strategy:
      matrix: 
        files: ${{ fromJSON(needs.detect-changes.outputs.matrix) }}
      max-parallel: 4
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Test
        run: |
          echo ${{ matrix.files }}
