name: Build

on:
  push:
    paths-ignore:
      - 'ext/**'
      - '**.md'
      - '**/docker-compose.yml'
  workflow_dispatch:

jobs:
  detect-changes:
    name: Detect changes
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    env:
      TZ: Asia/Taipei
    outputs:
      matrix: ${{ steps.detect-changes.outputs.all_changed_files }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # bookworm
          - BUILD_CONTEXT: buildbot/bookworm
            TARGET_PLATFORMS: linux/amd64
          # bookworm-android
          - BUILD_CONTEXT: buildbot/bookworm-android
            TARGET_PLATFORMS: linux/amd64
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Detect changes
        id: detect-changes
        uses: tj-actions/changed-files@v47
        with:
          files_ignore: |
            _deprecated/**
            ext/**
            **.md
            **/docker-compose.yml
            *
          dir_names: true
          dir_names_max_depth: 2
          matrix: true

      - name: Dump GitHub context
        run: |
          cat << 'EOF'
          ${{ toJSON(github) }}
          EOF

      - name: Show changes
        run: echo ${{ steps.detect-changes.outputs.all_changed_files }}
