name: Build

on:
  push:
    paths-ignore:
      - 'ext/**'
      - '**.md'
      - '**/docker-compose.yml'
  workflow_dispatch:

jobs:
  generate-matrix:
    name: Generate job matrices
    runs-on: ubuntu-latest
    outputs:
      matrix-build: ${{ steps.neo-library.outputs.matrix }}
    steps:
      - name: Generate matrix | Library
        id: neo-library
        uses: hellofresh/action-changed-files@v3
        with:
            pattern: net/
            default-patterns: |
                net/

  build:
    needs: [ generate-matrix ]
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix-build) }}
    if: ${{ fromJson(needs.generate-matrix.outputs.matrix-build).include[0] }}
    steps:
        - name: Building library
          run: echo "Building ${{ matrix.lib }}"