name: Build

on:
  push:
  workflow_dispatch:

jobs:
  generate-matrix:
    name: Generate matrix
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    env:
      TZ: Asia/Taipei
    outputs:
      matrix: ${{ steps.create-matrix.outputs.matrix_json }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Detect changes
        id: detect-changes
        uses: tj-actions/changed-files@v47
        with:
          files_ignore: |
            _deprecated/**
            ext/**
            **.md
            **/docker-compose.yml
            *
          dir_names: true
          dir_names_max_depth: 2
          #matrix: true

      - name: Create matrix
        id: create-matrix
        run: |
          echo ${{ steps.detect-changes.outputs.all_changed_files }}
          changes='${{ steps.detect-changes.outputs.all_changed_files }}'
          matrix_json=$(jq -c -n --argjson ctxs "$changes" '
            {
              include: [
                $ctxs[] | . as $ctx | {
                  BUILD_CONTEXT: $ctx,
                  TARGET_PLATFORMS: (
                    if (
                      [
                        "buildbot/bookworm",
                        "buildbot/bookworm-android",
                        "buildbot/bookworm-openwrt"
                      ] | index($ctx)
                    ) != null
                    then
                      "linux/amd64"
                    else
                      "linux/amd64,linux/arm64"
                    end
                  )
                }
              ]
            }
          ')
          echo "matrix_json=$matrix_json" >> $GITHUB_OUTPUT

      - name: Show changes
        run: echo ${{ steps.create-matrix.outputs.matrix_json }}
